@import "tailwindcss";

body {
  background-color:#fef0ed;
}

.camera-wrapper video {
  overflow: hidden;
}

/* CSS */
.record-button {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #e85454; /* Soft red border */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.inner-circle {
  width: 65px;
  height: 65px;
  background-color: #e85454; /* Red button */
  border-radius: 50%;
}

.framed-textarea-wrapper {
  position: relative;
  width: 85%;
  background-color: #fef6f4;
}

.framed-textarea {
  width: 100%;
  min-height: 200px;
  padding: 16px;
  background: white;
  border: none;
  position: relative;
  z-index: 2;
  resize: none;
  font-size: 1rem;
  outline: none;
}

/* Top-left border */
.framed-textarea-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  height: calc(100% - 20px);
  border-top: 4px solid #e85454;
  border-left: 4px solid #e85454;
  z-index: 1;
  transform: translate(-4px, -4px);
}

/* Bottom-right border */
.framed-textarea-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 30px);
  height: calc(100% - 20px);
  border-bottom: 4px solid #e85454;
  border-right: 4px solid #e85454;
  z-index: 1;
  transform: translate(4px, 0px);
}